<section id="about">
    <div class="row">
      <div class="card">
        <img
          id="my-image"
          src="./assets/images/me.JPG"
          width="360px"
          height="281px"
          alt="me"
        />
      </div>
      <div class="card">
        <p id="about-blurb">
          I'm passionate about the intersection of art and science where
          technical skill and vision meet. When a project finally comes
          together after hard work and harder decisions, it's pure magic.<br /><br />
          I studied film at Temple University and attended University of
          Pennsylvania's coding boot camp.<br /><br />
          A full stack developer drawn to continued learning, analytical
          problem solving, and creative solutions provided by a background in
          Film and Media Arts. Skilled at collaborating and managing workflow
          in order to deliver quality applications. Best known for
          troubleshooting and never shying away from a challenge.<br /><br />
          Email me at
          <a href="mailto:J_BrennanDEV@protonmail.com" onclick="clickedLink()"
            >J_BrennanDEV@protonmail.com</a
          >.
        </p>
      </div>
    </div>
    <div id="skills">
      <div class="row" id="row1">
        <div class="subrow skills" id="subrow1">
          <div class="micro-card">
            <i class="fab fa-apple fa-3x"></i>
            <footer>Certified Technician</footer>
          </div>
          <div class="micro-card">
            <i class="fab fa-java fa-3x"></i>
            <footer>Java</footer>
          </div>
          <div class="micro-card">
            <i class="fab fa-js-square fa-3x"></i>
            <footer>JavaScript ES6+</footer>
          </div>
        </div>
        <!-- end subrow1 -->
        <div class="subrow skills" id="subrow2">
          <div class="micro-card">
            <i class="fab fa-html5 fa-3x"></i>
            <footer>HTML5</footer>
          </div>
          <div class="micro-card">
            <i class="fab fa-css3 fa-3x"></i>
            <footer>CSS3</footer>
          </div>
          <div class="micro-card">
            <i class="fab fa-node-js fa-3x"></i>
            <footer>Node.js</footer>
          </div>
        </div>
        <!-- end subrow2 -->
      </div>
      <!-- end row1 -->
      <div class="row" id="row2">
        <div class="subrow skills" id="subrow3">
          <div class="micro-card">
            <i class="fab fa-react fa-3x"></i>
            <footer>React</footer>
          </div>
          <div class="micro-card">
            <img
              src="./assets/images/express-icon.png"
              width="48px"
              height="48px"
              alt="Express icon"
            />
            <footer>Express</footer>
          </div>
          <div class="micro-card">
            <i class="fas fa-database fa-3x"></i>
            <footer>SQL</footer>
          </div>
        </div>
        <!-- end subrow3 -->
        <div class="subrow skills" id="subrow4">
          <div class="micro-card">
            <img
              src="./assets/images/mysql-icon.png"
              width="48px"
              height="48px"
              alt="MySql icon"
            />
            <footer>MySQL</footer>
          </div>
          <div class="micro-card">
            <img
              src="./assets/images/mongodb-icon.png"
              width="48px"
              height="48px"
              alt="MangoDB icon"
            />
            <footer>MongoDB</footer>
          </div>
          <div class="micro-card">
            <i class="fab fa-github fa-3x"></i>
            <footer>GitHub</footer>
          </div>
        </div>
        <!-- end subrow4 -->
      </div>
    </div>
  </section>
