<div class="navbar row" id="myNav">
    <div class="navRow">
      <a
        href="javascript:void(0);"
        class="icon ignore"
        onclick="collapseNav()"
        >=</a
      >
      <a href="#JB" class="ignore" id="logo">JB</a>
      <div class="ignore" id="spacer"></div>
    </div>
    <a href="#about" onclick="clickedLink()">about</a>
    <a href="#projects" onclick="clickedLink()">projects</a>
    <a href="./assets/pdf/JBResume.pdf">resume</a>
    <a href="mailto:J_BrennanDEV@protonmail.com" onclick="clickedLink()">contact</a>
    <a href="https://www.linkedin.com/in/j-brennan-dev"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>