<div class="proj">
  <img class="projectImg" [src]="srcSet" [alt]="altSet" width="300" height="300" />
  <div class="info card">
    <a class="blurb"[innerText]="blurbText"></a>
    <a class="gitlink" [href]="gitLink">github link for credits and info </a>
  </div>
</div>

<!-- <div class="proj">
      <img
        class="projectImg"
        src="./assets/images/provisions.png"
        alt="day planner"
        width="300"
        height="300"
      />
      <div class="info card">
        <a class="blurb" href="https://legit-jb.github.io/provisions/"
          >A playful app that generates entreé and wine pairings inspired by
          ingredients, one’s provisions, inputted by the user.
        </a>
        <a class="gitlink" href="https://github.com/legit-jb/provisions"
          >github link for credits and info</a
        >
      </div>
    </div> -->
