<section id="projects">
  <header>projects</header>
  <div class="row">
    <app-project-card
    srcSet = "./assets/images/provisions.png"
    altSet = "day planner"
    blurbText = "A playful app that generates entreé and wine pairings inspired by
    ingredients, one’s provisions, inputted by the user."
    gitLink = "https://github.com/legit-jb/provisions"
    ></app-project-card>

    <!-- <div class="proj">
      <img
        class="projectImg"
        src="./assets/images/provisions.png"
        alt="day planner"
        width="300"
        height="300"
      />
      <div class="info card">
        <a class="blurb" href="https://legit-jb.github.io/provisions/"
          >A playful app that generates entreé and wine pairings inspired by
          ingredients, one’s provisions, inputted by the user.
        </a>
        <a class="gitlink" href="https://github.com/legit-jb/provisions"
          >github link for credits and info</a
        >
      </div>
    </div> -->
    <div class="proj">
      <img
        class="projectImg"
        src="./assets/images/dayScheduler.png"
        alt="day planner"
        width="300"
        height="300"
      />
      <div class="info card">
        <a class="blurb" href="https://legit-jb.github.io/dayScheduler/">
          A simple but informative day scheduler which uses local storage to
          keep information. An exercise in simplicity and design.
        </a>
        <a class="gitlink" href="https://github.com/legit-jb/dayScheduler"
          >github link for credits and info</a
        >
      </div>
    </div>

    <div class="proj">
      <img
        class="projectImg"
        src="./assets/images/note-taker-screenshot.png"
        alt="day planner"
        width="300"
        height="300"
      />
      <div class="info card">
        <a class="blurb" href="https://note-taker-jbrennan.herokuapp.com">
          A note taking app that uses local storage to store notes. A part of
          the HTML and local storage learning process.
        </a>
        <a class="gitlink" href="https://github.com/legit-jb/note-taker"
          >github link for credits and info</a
        >
      </div>
    </div>

    <div class="proj">
      <img
        class="projectImg"
        src="./assets/images/weather-dash.jpeg"
        alt="day planner"
        width="300"
        height="300"
      />
      <div class="info card">
        <a class="blurb" href="https://legit-jb.github.io/weather-dashboard/">
          A nice little webpage that shows the weather of a city for the current
          day and also the five day forecast.
        </a>
        <a class="gitlink" href="https://github.com/legit-jb/weatherDash"
          >github link for credits and info</a
        >
      </div>
    </div>
  </div>
</section>
